@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500&display=swap');
@import url('./styles/colores.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #5f5f5f;
  --primary: #198754;
  --primaryT: #19875450;
  --unoBody: #cbe4f1;
  --unoBodyT: #e3eaee;
  --dosBody: #c8c1de;
  --dosBodyT: #d7d6db;
  --tresBody: #f4d1e1;
  --tresBodyT: #f1e2e9;
  --cuatroBody: #f6cfbd;
  --cuatroBodyT: #f1e1da;
  --cincoBody: #f9f5d1;
  --cincoBodyT: #f8f6e3;
  --seisBody: #cde3cd;
  --seisBodyT: #d8e0d8;
  --font: 'Arima';
  --colorrr: #9c8d00;
  --colorFont: var(--gray);
}

body {
  font-family: var(--font);
  font-weight: 600;
  background-color: #fdfdfd;
  caret-color: transparent;
}

.body {
  background: linear-gradient(to right, var(--unoBodyT) 0%, var(--dosBodyT) 20%, var(--tresBodyT) 40%, var(--cuatroBodyT) 60%, var(--cincoBodyT) 80%, var(--seisBodyT) 100%);
  color: var(--colorFont) !important;
}

img {
  object-fit: cover;
}

ul {
  padding: 0 !important;
}

li {
  list-style: none;
}
main {
  padding-top: 2.5rem;
}

.header {
  width: 100vw;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  background: linear-gradient(to right, var(--unoBody) 0%, var(--dosBody) 20%, var(--tresBody) 40%, var(--cuatroBody) 60%, var(--cincoBody) 80%, var(--seisBody) 100%);
}

.nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list--item {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list--item img {
  position: absolute;
}

.nav-list--item img:nth-child(2) {
  width: 55%;
}

.notification-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  z-index: 800;
}

.notification-bar-bell {
  position: relative;
  height: 90%;
}

.notification-bar-bell span {
  position: absolute;
  top: 0;
  right: -5px;
  width: 50%;
  height: 50%;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.notification-bar-bell img {
  height: 100%;
}

.notification-bar-alfa {
  height: 70%;
}

.logo-container {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  perspective: 1000px;
}

.logo {
  position: absolute;
}
.logo-dos {
  animation: giro 1.8s infinite;
}

.logo-tres {
  animation: giro 1.5s infinite;
}

@keyframes giro {
  from {
    transform: rotateY(360deg);
  }
}

.body-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #e2ebf0 0%, #d9d8db 20%, #f3e5eb 40%, #f0e8e4 60%, #f3f3f3 80%, #d9dbd9 100%);
  z-index: 950;
  overflow-y: hidden;
}

.loading {
  width: 5rem;
  margin-top: 5rem;
  animation: loading 1s infinite;
}

@keyframes loading {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}

.arrowBackAlt {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.input-container {
  width: 90%;
  display: flex;
  position: relative;
  align-items: center;
}

.icons-input {
  width: 35px;
  position: absolute;
  left: -3rem;
}

.login,
.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
}

.form-login,
.form-register {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;
  padding: 2.5rem 3.5rem;
}

.select-login {
  display: flex;
  gap: 1rem;
  margin: 2rem 0 0.5rem;
  background-color: #ffffff50;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #808080;
  box-shadow: 1px 1px 1px #00000010, -5px -5px 10px #ffffff80, inset 5px 5px 5px #00000010, inset -5px -5px 5px #ffffff60;
}

.select-login span {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.form-login input,
.form-login button,
.form-register input,
.form-register button {
  width: 100%;
  padding: 0.7rem;
  border: transparent;
  box-shadow: 1px 1px 1px #00000020, -5px -5px 10px #ffffff80, inset 5px 5px 5px #00000020, inset -5px -5px 5px #ffffff70;
  border-radius: 0.5rem;
  background-color: #ffffff50;
  font-family: var(--font);
  font-weight: 600;
}

#check {
  width: min-content;
}

.form-login input:focus,
.form-register input:focus {
  outline: 1px var(--primary) solid;
}

.form-login button,
.form-register button {
  margin-top: 1.5rem;
  box-shadow: -1px -1px 10px #00000010, 5px 5px 10px #ffffff80, inset -5px -5px 5px #00000010, inset 5px 5px 5px #ffffff70;
  cursor: pointer;
  color: var(--gray);
  font-family: var(--font);
  font-weight: 600;
}

.remember-me {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.remember-me label {
  color: var(--gray);
}

.login-links {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.login-links span {
  cursor: pointer;
  color: var(--gray);
  border-bottom: 1px var(--gray) 00 solid;
}

.login-links span:hover {
  border-bottom: 1px var(--primary) solid;
}

.all-business {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  padding-bottom: 5rem;
  overflow-y: auto;
  z-index: 890;
}

.all-business img {
  width: 7rem;
  position: relative;
  top: 1rem;
  right: -7rem;
}
.all-business p {
  margin-top: 1rem;
  padding: 2rem 1rem;
  text-align: center;
}

.all-business input {
  width: 15rem;
  padding: 0.3rem;
  border: 1px var(--primary) solid;
  border-radius: 0.5rem;
  background-color: transparent;
  margin-bottom: 1rem;
}

.all-business ul {
  width: 100%;
}
.business-categories--filter ul,
.all-business--categories {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.business-categories--filter ul li,
.all-business--categories li {
  width: 100%;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 1px 1px #00000020, -5px -5px 10px #ffffff50, inset -5px -5px 5px #00000020, inset 5px 5px 5px #ffffff50;
}

.btn-active {
  color: var(--primary);
  border: transparent;
  box-shadow: 1px 1px 1px #00000020, -5px -5px 10px #ffffff80, inset 5px 5px 5px #00000020, inset -5px -5px 5px #ffffff70 !important;
}

.all-business--business {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 6.5rem;
  gap: 3rem 0.5rem;
  padding-bottom: 4rem !important;
}

.all-business--item {
  position: relative;
  border: 1px var(--primary) solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.all-business--item-img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.all-business--item-img > img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.all-business--description {
  position: relative;
  left: 0.5rem;
  bottom: -3px;
  font-size: 12px;
}

.rating {
  width: 100%;
  left: 0;
  display: flex;
}

.rating > img {
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
}

.all-business--check {
  width: min-content !important;
  height: min-content !important;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  scale: 1.5;
}

.btn-update {
  background-color: var(--primary) !important;
  color: var(--unoBody) !important;
}

.complete-register {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem 1rem;
}

.complete-register img {
  width: 90%;
}

.complete-register p {
  color: var(--gray);
  padding-top: 3rem;
}

.complete-register--list {
  width: 100%;
  padding: 3rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 2.5rem;
}

.complete-register--list--item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: 1px var(--primary) solid;
  border-radius: 0.5rem;
}
.complete-register--list--item input {
  position: absolute;
  top: -0.5rem;
  right: 0;
  scale: 1.5;
}

.complete-register button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px var(--primary) solid;
  border-radius: 0.5rem;
  color: var(--gray);
}

.business {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem 0;
}

.business-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.business-info--detail {
  padding: 0.5rem;
  border: 1px var(--primary) solid;
  border-radius: 0.5rem;
}
.business-info--detail {
  font-size: 12px;
  text-align: left;
}

.business-info--detail p {
  color: var(--gray);
  margin: 0.5rem;
}

.logo-business {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px #00000090;
}

.business-categories--goups {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.business-categories--goups > h3 {
  padding-top: 1rem;
  margin-left: 1rem;
  width: max-content;
  border-bottom: 3px var(--primary) double;
}

.business-categories--goups hr {
  width: 80%;
  height: 1px;
  margin: -0.5rem auto;
  background-color: var(--primary);
}

.group {
  position: relative;
  width: 100%;
  height: 190px;
  display: flex;
  overflow-x: auto;
  gap: 1.5rem;
  scroll-behavior: smooth;
  padding: 0 1rem !important;
}

.group::-webkit-scrollbar {
  display: none;
}

.group > h3 {
  position: absolute;
  top: 0;
  left: 0;
}

.group-li {
  position: relative;
  width: 120px;
  height: 120px;
  border: 1px var(--primary) solid;
  border-radius: 1rem;
}

.group-li > img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.group-li--p {
  position: relative;
  width: 120px;
  bottom: 0;
  font-size: 14px;
}

.body-modal {
  width: 100vw;
  height: calc(100vh - 4rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modal-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
  border-radius: 1rem;
}

.modal-container--img {
  padding: 1rem;
}

.modal-container--img img {
  border-radius: 1rem;
  box-shadow: 0 0 30px #00000070;
}

.modal-container--text p {
  margin: 0;
}

.modal-close {
  width: 30px;
  height: 30px;
  border: transparent;
  border-radius: 10px;
  position: absolute;
  top: -2rem;
  right: -2rem;
}

.modal-avance {
  position: absolute;
  bottom: -3.5rem;
  padding: 0.5rem 1.5rem;
  border: transparent;
  border-radius: 10px;
}

.body-schedule {
  width: 100vw;
  min-height: calc(100vh - 2.5rem);
  padding: 1rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
}

.arrow-back {
  background-color: transparent;
  border: transparent;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  top: 2.5rem;
}

.service {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h3 {
  border-bottom: 1px solid var(--primary);
}

.date-service {
  width: 90%;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.date-service input,
.date-service div {
  width: 50%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  padding: 0.3rem 0.5rem;
  position: relative;
  font-size: 15px;
  font-weight: bold;
}

.date-service-div-ul {
  width: 100%;
  height: 1px;
  overflow: auto;
  position: relative;
  top: 2rem;
  left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0 0 1rem 1rem;
  background-color: #ffffff;
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.date-service-div-b {
  position: absolute;
  width: 90%;
  height: 100%;
}

.show-hours {
  height: 15rem;
  opacity: 1;
  box-shadow: 0 5px 5px #00000070;
}

.date-service div ul li {
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
}

.add-service {
  width: 90%;
  padding: 1rem 0;
  display: grid;
  gap: 0.5rem 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.list-service {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: left;
}

.list-service input {
  scale: 1.5;
}

.detail-service {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
  border-radius: 1rem;
}

.detail-service p {
  margin: 0;
  padding: 0.5rem;
  background-color: #ffffff70;
}

.detail-service-date-time {
  display: flex;
  justify-content: space-around;
}

.detail-service-aditionals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.btn-shedule {
  width: 8rem;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: transparent;
  box-shadow: 1px 1px 1px #00000020, -5px -5px 10px #ffffff50, inset -5px -5px 5px #00000020, inset 5px 5px 5px #ffffff50;
}

.container-profile {
  width: 100vw;
  height: calc(100vh - 4rem);
  position: relative;
  padding: 2.5rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-profile {
  width: 6rem;
  height: 6rem;
  position: relative;
  border-radius: 50%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.img-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.img-profile button {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: -1.5rem;
  border: transparent;
  background: transparent;
}

.info-profile {
  width: 90%;
  padding: 1rem;
  position: relative;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-profile button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  border: transparent;
}

.info-profile button > img {
  width: 100%;
  height: 100%;
}

.info-profile form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-profile input {
  width: 80%;
  padding: 0.33rem 1rem;
  border: transparent;
  border-radius: 0.5rem;
}

.container-profile h3 {
  margin: 3rem 0;
  border-bottom: 1px dashed var(--primary);
}

.list-history {
  width: 100%;
  height: 18.5rem;
  overflow-y: auto;
  display: grid;
  gap: 0.5rem;
}

.list-history li {
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 0.5rem;
  border-radius: 0.2rem;
}

.business-more {
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 1.5rem;
  border: transparent;
  border-radius: 0.3rem;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #00000020, -5px -5px 10px #ffffff50, inset -5px -5px 5px #00000020, inset 5px 5px 5px #ffffff50;
}

.container-main {
  width: 100vw;
  height: calc(100vh - 4rem);
  padding: 2.5rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservations h3 {
  width: max-content;
  margin: 1.5rem 0;
  border-bottom: 1px dashed var(--primary);
}

.reservations-filter {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.reservations-filter input {
  width: 70%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
}

.reservations-filter button {
  width: 25%;
  border-radius: 1rem;
  border: 1px solid var(--primary);
  font-weight: bold;
}

.list-reservations {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 0.5rem !important;
  grid-auto-rows: min-content;
  gap: 0.5rem;
  overflow-y: auto;
}

.list-reservations li {
  width: 100%;
  display: grid;
  padding: 0.5rem;
  gap: 0.2rem;
  align-items: center;
  border-radius: 0.5rem;
}

.item-reservation-today {
  grid-template-columns: 1.5fr 1fr 1.5fr 0.5fr;
}

.item-reservation-pending {
  grid-template-columns: 1.5fr 1fr 0.5fr 0.5fr;
}

.item-reservation-pending button {
  width: 100%;
  height: 60%;
  padding: 0.2rem;
  border: transparent;
  color: var(--white);
  font-weight: bold;
  border-radius: 0.3rem;
}

.search-filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-filter-container input {
  width: 70%;
  padding: 0.2rem 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
}

.filter-history-business {
  width: 100%;
  padding: 1.5rem 0.5rem !important;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
}

.filter-history-business li {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.list-history-business {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.5rem !important;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

.list-history-business li {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr;
  justify-content: space-betwe;
}

.paginate-container {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate-container button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary);
  color: #fff;
  border: transparent;
  font-size: 10px;
}

.paginate-numbers {
  width: min-content;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.paginate-numbers li {
  width: 25px;
  height: 25px;
  display: flex;
  border: 1px dashed #999;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.btn-view-resume {
  color: var(--colorFont);
}

.settings-container {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-container > div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 3rem;
  gap: 1rem;
}

.btn-general {
  border: transparent;
  box-shadow: 1px 1px 5px #00000020, -5px -5px 10px #ffffff50, inset -5px -5px 5px #00000020, inset 5px 5px 5px #ffffff50;
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--gray);
  padding: 0.5rem;
}

.btn-general:active {
  box-shadow: 1px 1px 1px #00000020, -5px -5px 10px #ffffff50, inset 5px 5px 5px #00000020, inset -5px -5px 5px #ffffff50;
}

.main {
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 5.5rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-main > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list-services {
  width: 100%;
  height: 100%;
  padding: 0 1rem 2rem !important;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  position: relative;
}

.item-services {
  width: 100%;
  height: min-content;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2fr 1.5fr 1.5fr 0.5fr;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  box-shadow: 0 5px 5px #00000020;
  font-weight: bold;
}

.item-services span {
  padding: 0.5rem 0;
}

.item-services img {
  scale: 0.8;
  opacity: 0.5;
}

.item-services-header {
  border: transparent;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 5px 5px #00000050;
}

.form-services,
.form-services-update {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.list-inputs {
  width: 100%;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.list-inputs input,
.form-services-update input {
  width: 100%;
  padding: 0.1rem 0.3rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
}

.form-services button {
  margin-top: 1rem;
  font-weight: bold;
}

.form-services-update {
  gap: 1rem;
}

.form-services-update input {
  padding: 0.5rem;
}

.goback-container {
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  left: 1rem;
  top: 3.5rem;
}

.goback-container img {
  width: 100%;
  height: 100%;
}

.list-colaborator {
  width: 90%;
  padding: 0 2rem !important;
  display: grid;
  gap: 1rem;
  overflow-y: auto;
}

.item-colaborator {
  width: 100%;
  height: 18rem;
  padding: 1.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--primary);
  border-radius: 1rem;
}

.item-colaborator span,
.item-colaborator div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-colaborator img {
  width: 70px;
  height: 70px;
}

.icons-colaborator {
  display: flex;
  gap: 1rem;
  opacity: 0.5;
}

.icons-colaborator img {
  width: 40px;
  height: 40px;
}

.add-col {
  grid-template-columns: repeat(2, 1fr);
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--primaryT);
}

.schedule-detail--hours input,
.schedule-detail--hours select,
.input-week {
  padding: 0.5rem;
  border: 1px solid var(--primaryT);
  box-shadow: 0 0 5px #00000050;
}

.schedules-main ul {
  width: 100%;
}

.schedules--list-hours {
  width: 100%;
  padding: 1rem 0.5rem !important;
  display: grid;
  gap: 0.3rem;
  overflow-x: auto;
}

.schedules--list-hours li {
  padding: 0.2rem 0.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary);
  border-radius: 0.2rem;
}

.schedule-detail {
  width: 95%;
  margin: auto;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
}

.schedule-detail--hours {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.schedule-detail--hours div {
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.schedule-detail--hours > div > div {
  flex-direction: column;
  align-items: center;
}

.schedule-detail--hours select:focus {
  outline-color: transparent;
}

.schedule-detail--days {
  display: grid;
  gap: 1rem;
}

.schedule-detail--days ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.schedule-detail--days ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
}

.business-card {
  width: 80%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  min-height: 25rem;
  border: 1px solid var(--primary);
  margin: 2rem 0;
  border-radius: 0.5rem;
}

.business-card > img {
  border-radius: 1rem;
}

.business-card p {
  margin: 0.1rem;
  font-weight: bold;
}

.list-btn-sttings {
  width: 100%;
  padding: 0.5rem 1.5rem !important;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
}

.colors-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.colors-list li {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .all-business {
    padding: 0 15rem;
  }
  .all-business--business {
    gap: 3rem;
    grid-auto-rows: 10rem;
  }
  .all-business--categories {
    gap: 1rem 2rem;
  }
}
